<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; font-weight: 550;
      font-size: 0.95rem; } .uppercase { text-transform: uppercase; }
      .flex-center { display: flex; align-items: center; justify-content:
      center; } .container { font-family: "Ubuntu Mono", monospace; width:
      302.36220472441px; padding: 30px 10px; overflow-x: hidden; } .id { margin:
      10px 0px 20px 0px; } .dot-line { border-bottom: 2px dashed #000; }
      .logo-image-container { margin-top: 30px; display: flex; align-items:
      center; justify-content: center; position: relative; } .logo-image > * {
      width: 200px; height: 60px; } .brand-phone { margin-top: 10px; }
      .brand-address { flex-direction: column; } .kiosk-info { display: flex;
      align-items: center; justify-content: space-between; } .kiosk-info > * {
      padding-right: 3px; } .order-item-list { width: 100%; display: flex;
      flex-direction: column; align-items: center; } .order-item { width: 100%;
      display: grid; grid-template-columns: 1fr 1fr 1fr 0.1fr; justify-items:
      stretch; gap: 4px; } .order-item-price { display: flex; align-items:
      center; justify-content: flex-end; } /* order subtotal */ .order-subtotal,
      .order-tax, .order-total, .order-tend, .order-due { width: 100%; display:
      grid; grid-template-columns: 1fr 1fr 1fr 0.1fr; justify-items: stretch;
      gap: 4px; } .order-subtotal-1, .order-subtotal-2, .order-tax-1,
      .order-tax-2, .order-tax-3, .order-total-1, .order-total-2, .order-tend-1,
      .order-tend-2, .order-due-1, .order-due-2 { display: flex;
      justify-content: flex-end; } .pay { margin-top: 40px; } .pay-1, .pay-3,
      .pay-4, .pay-5, .pay-6 { display: grid; grid-template-columns: 0.7fr 1fr;
      } .pay-2 { display: flex; align-items: center; justify-content: center; }
      .time { margin-top: 20px; display: flex; align-content: center;
      justify-content: space-evenly; } .total-items { margin-top: 20px; display:
      flex; justify-content: center; } .total-items, .total-items > *,
      .total-items > * > * { font-size: 2rem; } .bar { margin-top: 20px; } /*
      .bar-1 { display: flex; align-items: center; justify-content: center; } */
      .bar-2 { font-family: "Libre Barcode 39 Extended"; font-size: 4rem; }
      .bar-3 { margin-top: -25px; display: flex; align-items: center;
      justify-content: center; text-transform: capitalize; } .qr { margin-top:
      20px; } .qr-2 { margin-top: 10px; } .qr-2 > * { height: 80px; }
    </style>
  </head>
  <body>
    <div class="container">
      <p class="">See back of receipt for your chance to win $1000</p>
      <p class="id">ID #: <span> 08H34H98NG943BN9 </span></p>
      <div class="dot-line"></div>
      <div class="logo-image-container">
        <div class="logo-image">
          <svg
            version="1.0"
            xmlns="http://www.w3.org/2000/svg"
            width="1600.000000pt"
            height="442.000000pt"
            viewBox="0 0 1600.000000 442.000000"
            preserveAspectRatio="xMidYMid meet"
          >
            <g
              transform="translate(0.000000,442.000000) scale(0.100000,-0.100000)"
              fill="#000000"
              stroke="none"
            >
              <path
                d="M13643 4405 c-17 -7 -39 -25 -49 -40 -21 -32 -20 -52 31 -690 38
-468 43 -501 89 -530 57 -36 228 -29 276 11 38 33 45 70 70 399 11 149 30 384
41 524 20 250 20 254 2 280 -39 53 -72 61 -258 61 -122 -1 -179 -5 -202 -15z"
              ></path>
              <path
                d="M4370 2580 l0 -1160 250 0 250 0 0 1160 0 1160 -250 0 -250 0 0
-1160z"
              ></path>
              <path
                d="M10530 2778 c0 -852 2 -919 19 -1003 43 -209 154 -327 351 -376 97
-24 348 -12 436 21 l24 10 0 190 0 190 -27 -7 c-16 -3 -62 -7 -103 -7 -99 -1
-145 22 -180 90 l-25 48 -3 408 -3 408 206 0 205 0 -2 183 -3 182 -202 3 -203
2 0 285 0 285 -245 0 -245 0 0 -912z"
              ></path>
              <path
                d="M0 3676 c0 -2 25 -112 55 -243 31 -131 62 -267 70 -303 8 -36 57
-249 110 -475 52 -225 123 -529 156 -675 40 -176 70 -282 88 -315 42 -79 134
-170 209 -207 58 -29 77 -33 167 -36 87 -4 108 -1 152 18 29 12 58 29 66 38 8
10 31 94 51 187 19 94 67 316 106 495 81 369 130 619 156 798 20 130 27 132
38 12 11 -115 51 -362 117 -725 102 -562 116 -610 207 -707 52 -56 84 -75 157
-94 68 -19 258 -18 293 0 69 36 57 -5 343 1142 148 593 269 1082 269 1086 0 4
-114 8 -254 8 l-253 0 -26 -132 c-14 -73 -49 -252 -77 -398 -28 -146 -55 -284
-60 -308 -15 -61 -140 -808 -141 -840 -2 -38 -13 24 -50 273 -29 203 -66 413
-169 960 -27 143 -56 302 -65 353 l-17 92 -267 -2 -266 -3 -11 -55 c-118 -577
-255 -1273 -285 -1445 -20 -121 -38 -215 -38 -210 -3 35 -109 673 -146 880
-25 138 -57 313 -71 390 -14 77 -34 190 -45 250 -11 61 -23 128 -27 150 l-8
40 -267 3 c-147 1 -267 0 -267 -2z"
              ></path>
              <path
                d="M12320 3632 c-28 -15 -55 -51 -127 -172 -78 -129 -93 -159 -93 -195
0 -27 7 -51 20 -68 31 -40 980 -508 1043 -515 46 -4 49 -3 91 40 93 97 122
210 69 267 -16 17 -228 172 -472 345 -309 220 -452 316 -470 316 -15 0 -42 -8
-61 -18z"
              ></path>
              <path
                d="M15261 3629 c-19 -12 -228 -159 -463 -327 -279 -198 -434 -315 -444
-333 -7 -15 -14 -41 -14 -56 0 -37 50 -138 93 -188 33 -38 38 -40 88 -39 50 0
93 20 549 246 536 265 526 259 523 339 -2 30 -23 74 -91 187 -115 191 -158
222 -241 171z"
              ></path>
              <path
                d="M3285 3154 c-164 -24 -292 -58 -397 -106 -38 -17 -68 -37 -68 -45 0
-11 80 -321 85 -330 1 -2 33 13 71 31 93 46 149 64 263 83 202 34 357 -23 391
-145 22 -80 27 -77 -137 -90 -229 -18 -415 -72 -539 -156 -236 -159 -321 -475
-197 -734 17 -35 55 -84 98 -127 106 -106 211 -148 370 -148 168 1 293 52 416
169 47 45 86 74 99 74 13 0 48 -28 93 -74 91 -92 154 -126 236 -126 52 0 62 3
80 26 23 30 26 69 9 129 -7 25 -13 224 -18 535 -6 459 -8 501 -28 571 -33 120
-85 214 -161 289 -125 124 -255 170 -491 175 -80 2 -158 1 -175 -1z m365
-1064 c0 -119 -2 -135 -24 -179 -26 -50 -74 -99 -129 -128 -49 -27 -171 -25
-217 4 -55 34 -80 87 -80 170 0 90 27 145 93 190 71 48 155 69 280 72 l77 1 0
-130z"
              ></path>
              <path
                d="M5905 3150 c-73 -15 -154 -51 -213 -94 -53 -39 -82 -69 -141 -145
l-18 -25 -7 90 c-4 49 -9 101 -12 117 l-6 27 -206 0 -207 0 3 -837 c1 -461 5
-844 7 -850 3 -10 61 -13 245 -13 l240 0 0 528 c0 578 0 581 59 674 17 26 49
60 72 75 37 25 52 28 120 28 90 0 115 -13 166 -88 54 -80 55 -96 60 -679 l5
-538 238 0 239 0 4 543 c2 381 7 552 15 577 20 60 69 128 113 157 90 59 225
37 284 -46 59 -86 59 -87 65 -681 l5 -545 243 -3 243 -2 -3 602 -4 603 -26 97
c-67 245 -203 389 -406 429 -83 16 -211 7 -292 -21 -108 -36 -231 -129 -304
-230 -12 -17 -20 -21 -23 -12 -14 37 -90 136 -126 166 -112 90 -277 127 -432
96z"
              ></path>
              <path
                d="M8280 3154 c-188 -23 -460 -113 -460 -151 0 -12 80 -322 85 -330 1
-2 33 13 71 31 232 115 491 124 602 22 32 -29 49 -63 57 -117 l7 -45 -149 -12
c-451 -35 -714 -207 -778 -508 -42 -200 6 -375 140 -509 106 -106 211 -148
369 -147 170 1 294 51 417 168 46 44 86 74 99 74 13 0 51 -30 98 -77 94 -95
147 -123 229 -123 46 0 64 4 77 19 24 26 30 78 15 131 -8 31 -14 201 -19 540
-6 470 -8 499 -29 574 -34 122 -84 211 -160 286 -125 124 -252 170 -486 175
-82 2 -166 1 -185 -1z m370 -1061 c0 -113 -3 -134 -24 -178 -24 -52 -72 -102
-129 -132 -49 -27 -171 -25 -217 4 -55 34 -83 92 -83 174 0 55 5 75 27 114 54
92 173 141 349 144 l77 1 0 -127z"
              ></path>
              <path
                d="M10128 3141 c-123 -40 -221 -129 -285 -259 l-38 -76 -8 144 c-5 80
-10 151 -12 158 -3 9 -56 12 -221 12 l-216 0 6 -32 c3 -18 9 -401 12 -851 l7
-817 246 2 246 3 5 500 5 500 33 67 c74 152 206 228 395 228 l47 0 0 220 0
220 -82 -1 c-52 0 -105 -7 -140 -18z"
              ></path>
              <path
                d="M12645 2095 c-334 -167 -496 -252 -510 -270 -39 -51 -27 -96 65 -251
46 -76 90 -147 97 -156 24 -27 81 -50 111 -43 41 9 913 635 940 675 12 18 22
45 22 60 0 41 -66 164 -106 199 -68 60 -68 60 -619 -214z"
              ></path>
              <path
                d="M14418 2298 c-22 -24 -53 -71 -70 -106 -35 -75 -33 -111 10 -159 15
-17 225 -171 467 -344 387 -276 444 -314 477 -314 22 0 49 9 65 21 15 11 69
87 118 169 80 131 90 154 90 196 0 33 -6 54 -20 70 -11 12 -242 132 -513 266
-567 280 -555 276 -624 201z"
              ></path>
              <path
                d="M13778 1911 c-54 -8 -92 -38 -108 -85 -9 -29 -21 -166 -70 -781 -11
-143 -22 -275 -25 -293 -8 -42 17 -93 54 -115 25 -14 58 -17 216 -17 286 0
284 -2 260 288 -9 108 -27 339 -40 512 -34 436 -36 445 -93 473 -34 18 -132
27 -194 18z"
              ></path>
              <path
                d="M15657 1562 c-9 -10 -17 -28 -17 -39 0 -21 29 -53 47 -53 6 0 16 -7
24 -16 17 -21 -4 -35 -43 -27 -23 5 -28 2 -28 -15 0 -39 90 -36 117 5 22 33 5
68 -43 88 -41 17 -37 32 11 37 47 5 39 32 -11 36 -29 2 -45 -2 -57 -16z"
              ></path>
              <path
                d="M15800 1547 c0 -19 -3 -62 -6 -96 -7 -58 -6 -61 15 -61 17 0 21 6 22
33 1 17 4 43 8 57 6 21 9 16 20 -33 10 -45 16 -57 31 -57 15 0 24 15 39 63 16
50 20 56 20 31 2 -62 13 -94 32 -94 16 0 19 8 19 43 0 23 -3 66 -6 95 -6 49
-8 52 -35 52 -27 0 -30 -5 -46 -61 l-17 -62 -16 59 c-15 55 -19 59 -48 62 -30
3 -32 1 -32 -31z"
              ></path>
              <path
                d="M8530 656 c0 -166 -3 -331 -6 -365 l-7 -61 72 0 71 0 0 32 0 32 28
-26 c42 -39 66 -48 132 -48 136 0 219 90 228 246 6 103 -14 166 -66 217 -45
44 -78 57 -142 57 -57 0 -96 -13 -127 -42 l-23 -21 0 141 0 142 -80 0 -80 0 0
-304z m313 -57 c48 -37 60 -155 22 -213 -35 -53 -117 -57 -155 -9 -16 21 -20
41 -20 105 0 75 2 81 29 109 36 35 86 39 124 8z"
              ></path>
              <path
                d="M6945 925 c-77 -76 46 -181 128 -108 26 24 23 84 -6 111 -33 31 -90
30 -122 -3z"
              ></path>
              <path
                d="M550 921 c-69 -21 -130 -72 -149 -124 -16 -42 -13 -114 6 -154 21
-44 90 -96 168 -124 100 -36 135 -71 120 -119 -16 -50 -133 -65 -233 -31 l-52
18 -11 -40 c-22 -82 -19 -90 36 -110 38 -13 75 -17 155 -14 95 2 110 5 159 32
68 38 103 88 109 159 9 107 -46 173 -191 231 -117 47 -146 90 -91 134 33 26
126 29 181 6 19 -8 37 -15 38 -15 6 0 35 121 31 129 -16 26 -212 41 -276 22z"
              ></path>
              <path
                d="M6400 575 l0 -345 220 0 220 0 0 65 0 65 -140 0 -140 0 0 280 0 280
-80 0 -80 0 0 -345z"
              ></path>
              <path
                d="M9773 848 l-73 -21 0 -49 0 -48 -35 0 -36 0 3 -57 c3 -57 4 -58 35
-61 l31 -3 4 -142 c2 -121 6 -147 23 -177 32 -53 73 -72 156 -71 38 0 74 3 80
6 5 4 9 33 9 66 l0 59 -45 0 c-59 0 -65 13 -65 149 l0 111 55 0 55 0 0 60 0
60 -55 0 -55 0 0 70 c0 39 -3 70 -7 69 -5 0 -41 -10 -80 -21z"
              ></path>
              <path
                d="M10173 848 l-73 -21 0 -49 c0 -48 0 -48 -32 -48 l-33 0 1 -57 c2 -57
2 -58 32 -61 l30 -3 4 -142 c4 -159 15 -193 71 -228 26 -16 47 -19 112 -17
l80 3 3 63 3 62 -40 0 c-61 0 -71 22 -71 152 l0 108 55 0 55 0 0 60 0 60 -55
0 -55 0 0 70 c0 39 -3 70 -7 69 -5 0 -41 -10 -80 -21z"
              ></path>
              <path
                d="M1055 730 c-66 -17 -87 -30 -80 -48 3 -9 9 -29 12 -45 7 -37 15 -40
57 -22 52 22 148 20 169 -3 32 -35 22 -52 -31 -52 -100 0 -194 -46 -227 -111
-22 -41 -19 -117 5 -157 46 -75 160 -97 246 -47 41 24 42 24 47 5 4 -18 14
-20 75 -20 l69 0 -4 178 c-2 97 -8 191 -14 209 -27 85 -93 123 -214 122 -44
-1 -93 -5 -110 -9z m185 -310 c0 -54 -34 -90 -84 -90 -27 0 -40 6 -52 25 -32
49 17 105 92 105 l44 0 0 -40z"
              ></path>
              <path
                d="M2171 726 c-84 -30 -145 -114 -157 -217 -14 -119 34 -217 129 -263
46 -23 67 -27 140 -27 73 0 154 12 178 27 6 3 -7 93 -15 101 -1 2 -34 -1 -72
-6 -106 -15 -194 14 -202 68 -3 21 -1 21 157 21 l161 0 6 27 c11 40 -12 142
-43 192 -39 63 -96 91 -182 90 -36 0 -81 -6 -100 -13z m124 -96 c23 -9 63 -75
52 -86 -3 -3 -46 -3 -96 -2 l-91 3 18 35 c16 32 52 60 79 60 6 0 23 -4 38 -10z"
              ></path>
              <path
                d="M2965 724 c-16 -8 -40 -25 -52 -36 l-23 -21 0 31 0 32 -71 0 -72 0 7
-77 c3 -42 6 -154 6 -250 l0 -173 75 0 75 0 0 149 c0 82 5 162 11 180 22 64
107 74 129 16 6 -15 10 -98 10 -186 l0 -159 80 0 80 0 0 163 c0 133 3 167 16
185 34 49 100 47 123 -5 7 -14 11 -88 11 -183 l0 -160 80 0 80 0 0 168 c0 198
-11 250 -65 302 -31 30 -42 35 -100 38 -56 4 -70 1 -109 -22 -25 -15 -49 -34
-54 -43 -9 -14 -11 -14 -21 6 -31 56 -148 81 -216 45z"
              ></path>
              <path
                d="M3764 716 c-159 -74 -193 -308 -62 -433 48 -47 98 -64 183 -64 119 0
195 43 241 137 22 46 27 69 27 128 -1 114 -46 190 -138 232 -70 33 -180 33
-251 0z m181 -110 c48 -48 57 -162 17 -230 -34 -58 -104 -60 -145 -4 -25 34
-34 130 -17 182 23 72 98 99 145 52z"
              ></path>
              <path
                d="M4445 725 c-16 -9 -40 -26 -52 -37 l-23 -21 0 31 0 32 -70 0 -70 0 0
-250 0 -250 80 0 80 0 0 155 c0 196 12 225 88 225 63 -1 72 -28 72 -219 l0
-161 83 0 82 0 -5 197 c-6 219 -11 241 -72 285 -42 30 -148 37 -193 13z"
              ></path>
              <path
                d="M4940 724 c-87 -37 -141 -122 -148 -232 -11 -176 89 -275 277 -273
83 0 172 18 173 34 1 31 -15 97 -25 97 -7 0 -38 -4 -71 -10 -81 -13 -148 2
-181 42 -14 16 -23 34 -19 39 3 5 77 9 164 9 l158 0 7 30 c7 33 2 70 -21 141
-16 50 -72 111 -117 128 -41 16 -156 13 -197 -5z m126 -94 c34 -13 53 -38 54
-67 0 -22 -3 -23 -90 -23 -49 0 -90 3 -90 8 0 18 42 74 63 82 29 12 31 12 63
0z"
              ></path>
              <path
                d="M7885 721 c-94 -42 -151 -151 -143 -270 11 -156 104 -233 277 -232
83 0 172 18 173 34 0 4 -3 28 -7 53 l-6 45 -57 -8 c-73 -10 -135 -7 -164 8
-37 19 -58 41 -58 61 0 17 11 18 160 18 l160 0 0 73 c0 49 -6 85 -19 112 -22
47 -74 99 -114 114 -45 17 -157 13 -202 -8z m132 -91 c28 -10 43 -29 57 -72 5
-16 -4 -18 -89 -18 l-95 0 11 27 c13 35 28 53 54 63 27 12 28 12 62 0z"
              ></path>
              <path
                d="M9265 730 c-79 -24 -152 -126 -162 -225 -12 -116 37 -214 130 -259
47 -23 67 -27 146 -27 87 0 165 13 175 29 2 4 0 29 -6 55 l-10 48 -46 -7
c-112 -18 -197 0 -222 45 -21 39 -15 41 149 41 184 0 179 -3 166 98 -10 79
-46 146 -97 179 -35 24 -53 28 -117 30 -42 1 -89 -2 -106 -7z m120 -100 c21
-8 55 -60 55 -85 0 -3 -40 -5 -90 -5 -81 0 -90 2 -90 19 0 26 36 69 63 74 12
2 25 5 29 6 4 0 18 -3 33 -9z"
              ></path>
              <path
                d="M10592 719 c-123 -62 -179 -235 -118 -364 46 -98 120 -137 255 -136
83 0 172 18 173 34 1 31 -15 97 -25 97 -7 0 -38 -4 -71 -10 -81 -13 -148 2
-181 42 -14 16 -23 34 -19 39 3 5 76 9 163 9 l159 0 5 29 c9 43 -9 136 -34
181 -13 22 -40 52 -62 67 -35 24 -52 28 -121 31 -67 2 -88 -1 -124 -19z m134
-89 c34 -13 53 -38 54 -67 0 -22 -3 -23 -90 -23 -49 0 -90 3 -90 8 0 18 42 74
63 82 29 12 31 12 63 0z"
              ></path>
              <path
                d="M11245 729 c-11 -6 -32 -25 -47 -41 l-27 -31 -6 37 -7 36 -71 0 -70
0 7 -61 c3 -34 6 -147 6 -250 l0 -189 80 0 80 0 0 149 c0 134 2 151 20 174 23
29 77 48 110 40 19 -5 20 -1 20 71 l0 76 -37 0 c-21 0 -47 -5 -58 -11z"
              ></path>
              <path
                d="M1481 648 c16 -46 58 -158 92 -250 l61 -168 82 0 81 0 92 243 c50
134 91 246 91 250 0 4 -38 7 -84 7 -83 0 -84 0 -90 -27 -3 -16 -23 -93 -45
-173 l-38 -145 -12 45 c-7 25 -28 102 -48 173 l-37 127 -88 0 -88 0 31 -82z"
              ></path>
              <path
                d="M5401 488 l98 -243 -19 -30 c-10 -16 -43 -43 -73 -58 l-54 -29 16
-58 c9 -32 19 -62 23 -65 4 -4 30 1 60 11 74 24 143 96 195 204 41 85 52 113
144 373 l49 138 -87 -3 -87 -3 -41 -165 -42 -165 -17 60 c-10 33 -32 107 -50
165 l-32 105 -91 3 -91 3 99 -243z"
              ></path>
              <path
                d="M6930 480 l0 -250 80 0 80 0 0 250 0 250 -80 0 -80 0 0 -250z"
              ></path>
              <path
                d="M7160 726 c0 -3 12 -36 26 -73 14 -38 52 -140 84 -228 32 -88 61
-168 65 -177 6 -15 20 -18 89 -18 l81 0 89 238 c49 130 91 243 93 250 4 9 -16
12 -80 12 l-84 0 -36 -127 c-20 -71 -39 -145 -42 -165 -7 -38 -25 -53 -25 -20
0 9 -20 82 -43 162 l-43 145 -87 3 c-48 1 -87 0 -87 -2z"
              ></path>
              <path
                d="M5938 381 c-28 -25 -33 -36 -32 -71 2 -59 36 -93 95 -92 57 1 89 35
89 93 0 31 -7 47 -29 70 -39 39 -80 39 -123 0z"
              ></path>
              <path
                d="M11461 384 c-26 -21 -31 -33 -31 -69 0 -65 29 -95 90 -95 61 0 90 30
90 95 0 36 -5 48 -31 69 -17 15 -43 26 -59 26 -16 0 -42 -11 -59 -26z"
              ></path>
            </g>
          </svg>
        </div>
      </div>
      <div class="flex-center brand-phone">
        <p>( 916 ) 373 - 7838</p>
      </div>
      <div class="flex-center brand-manager uppercase">
        <p>Manager Garry Pappu</p>
      </div>
      <div class="brand-address flex-center">
        <div class="brand-address-street uppercase">9479 Truxel RD</div>
        <div class="brand-address-city">British Columbia CA V3V 2Y7</div>
      </div>
      <div class="kiosk-info">
        <div class="kiosk-info-1">ST# <span> 2335 </span></div>
        <div class="kiosk-info-2">OP# <span> 348345 </span></div>
        <div class="kiosk-info-3">TE# <span> 23 </span></div>
        <div class="kiosk-info-4">TR# <span> 14554 </span></div>
      </div>
      <!-- order list items -->
      <div class="order-item-list">
        <div class="order-item uppercase">
          <div class="order-item-name">18 ALbuquerq</div>
          <div class="order-item-id">298347234789</div>
          <div class="order-item-price">10.54</div>
          <div class="order-item-symbol">X</div>
        </div>
        <div class="order-item uppercase">
          <div class="order-item-name">18 ALbuquerq</div>
          <div class="order-item-id">298347234789</div>
          <div class="order-item-price">10.54</div>
          <div class="order-item-symbol">X</div>
        </div>
        <div class="order-item uppercase">
          <div class="order-item-name">18 ALbuquerq</div>
          <div class="order-item-id">298347234789</div>
          <div class="order-item-price">10.54</div>
          <div class="order-item-symbol">X</div>
        </div>
        <div class="order-item uppercase">
          <div class="order-item-name">18 ALbuquerq</div>
          <div class="order-item-id">298347234789</div>
          <div class="order-item-price">10.54</div>
          <div class="order-item-symbol">X</div>
        </div>
        <div class="order-item uppercase">
          <div class="order-item-name">18 ALbuquerq</div>
          <div class="order-item-id">298347234789</div>
          <div class="order-item-price">10.54</div>
          <div class="order-item-symbol">X</div>
        </div>
      </div>
      <!-- total section -->
      <div class="order-subtotal uppercase">
        <div></div>
        <div class="order-subtotal-1">subtotal</div>
        <div class="order-subtotal-2">52.70</div>
        <div></div>
      </div>
      <!-- tax -->
      <div class="order-tax uppercase">
        <div class="order-tax-1">Tax</div>
        <div class="order-tax-2">7.000 %</div>
        <div class="order-tax-3">12.00</div>
        <div></div>
      </div>
      <!-- total -->
      <div class="order-total uppercase">
        <div></div>
        <div class="order-total-1">total</div>
        <div class="order-total-2">64.70</div>
        <div></div>
      </div>
      <!-- debit tend -->
      <div class="order-tend uppercase">
        <div></div>
        <div class="order-tend-1">debit  tend</div>
        <div class="order-tend-2">64.70</div>
        <div></div>
      </div>
      <!-- change die -->
      <div class="order-due uppercase">
        <div></div>
        <div class="order-due-1">Change due</div>
        <div class="order-due-2">64.70</div>
        <div></div>
      </div>

      <!-- Payment information -->
      <div class="pay uppercase">
        <div class="pay-1">
          <div>EFT debit</div>
          <div>Pay from primary</div>
        </div>
        <div class="pay-2">64.70 <span>  total purchase</span></div>
        <div class="pay-3">
          <div>account</div>
          <div>**** **** **** 0302</div>
        </div>
        <div class="pay-4">
          <div>Reference #</div>
          <div>272389326828</div>
        </div>
        <div class="pay-5">
          <div>network id</div>
          <div>2739 wsuud code 398f8</div>
        </div>
        <div class="pay-6">
          <div>terminal #</div>
          <div>ab39874890b</div>
        </div>
      </div>

      <!-- time and date -->
      <div class="time">
        <div class="time-1">12/09/22</div>
        <div class="time-2">12:56:23</div>
      </div>

      <!-- total items -->
      <div class="total-items uppercase">
        <div># items sold <span> 5 </span></div>
      </div>

      <!-- bar code -->
      <div class="bar">
        <div class="bar-1 flex-center">TC# 7234 2342 2353 7548 8983</div>
        <div class="bar-2 flex-center">7234 2342</div>
        <div class="bar-3">low prices you can trust . every day .</div>
      </div>

      <!-- time and date -->
      <div class="time">
        <div class="time-1">12/09/22</div>
        <div class="time-2">12:56:23</div>
      </div>

      <div class="qr">
        <div class="qr-1">Scan with Walmart app to save receipts</div>
        <div class="qr-2 flex-center">
          <svg
            version="1.0"
            xmlns="http://www.w3.org/2000/svg"
            width="1015.000000pt"
            height="1015.000000pt"
            viewBox="0 0 1015.000000 1015.000000"
            preserveAspectRatio="xMidYMid meet"
          >
            <g
              transform="translate(0.000000,1015.000000) scale(0.100000,-0.100000)"
              fill="#000000"
              stroke="none"
            >
              <path
                d="M290 8845 l0 -1015 1015 0 1015 0 0 1015 0 1015 -1015 0 -1015 0 0
-1015z m1740 0 l0 -725 -725 0 -725 0 0 725 0 725 725 0 725 0 0 -725z"
              ></path>
              <path
                d="M870 8845 l0 -435 435 0 435 0 0 435 0 435 -435 0 -435 0 0 -435z"
              ></path>
              <path
                d="M3190 9570 l0 -290 145 0 145 0 0 290 0 290 -145 0 -145 0 0 -290z"
              ></path>
              <path
                d="M3770 9715 l0 -145 145 0 145 0 0 -145 0 -145 -145 0 -145 0 0 -290
0 -290 145 0 145 0 0 -145 0 -145 -290 0 -290 0 0 -145 0 -145 -145 0 -145 0
0 290 0 290 145 0 145 0 0 145 0 145 -435 0 -435 0 0 -145 0 -145 145 0 145 0
0 -145 0 -145 -145 0 -145 0 0 -290 0 -290 145 0 145 0 0 -145 0 -145 -435 0
-435 0 0 -145 0 -145 -145 0 -145 0 0 145 0 145 -725 0 -725 0 0 -290 0 -290
145 0 145 0 0 145 0 145 145 0 145 0 0 -145 0 -145 145 0 145 0 0 -145 0 -145
-145 0 -145 0 0 -145 0 -145 145 0 145 0 0 145 0 145 145 0 145 0 0 145 0 145
290 0 290 0 0 -145 0 -145 145 0 145 0 0 145 0 145 290 0 290 0 0 145 0 145
145 0 145 0 0 -290 0 -290 145 0 145 0 0 290 0 290 145 0 145 0 0 -145 0 -145
290 0 290 0 0 -290 0 -290 -145 0 -145 0 0 145 0 145 -145 0 -145 0 0 -290 0
-290 435 0 435 0 0 290 0 290 145 0 145 0 0 -145 0 -145 145 0 145 0 0 -145 0
-145 145 0 145 0 0 -145 0 -145 -145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0
145 0 145 -290 0 -290 0 0 -290 0 -290 -145 0 -145 0 0 -145 0 -145 -145 0
-145 0 0 290 0 290 145 0 145 0 0 145 0 145 -290 0 -290 0 0 -145 0 -145 -145
0 -145 0 0 -145 0 -145 145 0 145 0 0 -145 0 -145 -290 0 -290 0 0 290 0 290
-145 0 -145 0 0 -435 0 -435 145 0 145 0 0 -145 0 -145 290 0 290 0 0 290 0
290 145 0 145 0 0 -145 0 -145 145 0 145 0 0 -145 0 -145 -145 0 -145 0 0
-290 0 -290 580 0 580 0 0 -145 0 -145 -145 0 -145 0 0 -145 0 -145 -145 0
-145 0 0 145 0 145 -435 0 -435 0 0 -290 0 -290 -145 0 -145 0 0 290 0 290
-145 0 -145 0 0 290 0 290 -435 0 -435 0 0 -145 0 -145 145 0 145 0 0 -145 0
-145 -290 0 -290 0 0 -145 0 -145 -145 0 -145 0 0 145 0 145 -145 0 -145 0 0
145 0 145 -145 0 -145 0 0 -145 0 -145 145 0 145 0 0 -145 0 -145 -145 0 -145
0 0 -145 0 -145 145 0 145 0 0 145 0 145 145 0 145 0 0 -145 0 -145 145 0 145
0 0 -145 0 -145 435 0 435 0 0 -290 0 -290 145 0 145 0 0 -145 0 -145 -145 0
-145 0 0 -725 0 -725 290 0 290 0 0 145 0 145 145 0 145 0 0 290 0 290 145 0
145 0 0 -290 0 -290 145 0 145 0 0 -145 0 -145 290 0 290 0 0 145 0 145 290 0
290 0 0 -145 0 -145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 145 0 145 -145
0 -145 0 0 145 0 145 145 0 145 0 0 145 0 145 145 0 145 0 0 -290 0 -290 145
0 145 0 0 145 0 145 290 0 290 0 0 145 0 145 -435 0 -435 0 0 145 0 145 -145
0 -145 0 0 145 0 145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 145 0 145 145
0 145 0 0 145 0 145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 145 0 145 435 0
435 0 0 -145 0 -145 -145 0 -145 0 0 -290 0 -290 -145 0 -145 0 0 -145 0 -145
145 0 145 0 0 -290 0 -290 580 0 580 0 0 -145 0 -145 -145 0 -145 0 0 -145 0
-145 -145 0 -145 0 0 -145 0 -145 -290 0 -290 0 0 -145 0 -145 290 0 290 0 0
-145 0 -145 435 0 435 0 0 145 0 145 145 0 145 0 0 -145 0 -145 290 0 290 0 0
145 0 145 -145 0 -145 0 0 290 0 290 -145 0 -145 0 0 -145 0 -145 -145 0 -145
0 0 145 0 145 -145 0 -145 0 0 145 0 145 580 0 580 0 0 -145 0 -145 290 0 290
0 0 -145 0 -145 -145 0 -145 0 0 -145 0 -145 290 0 290 0 0 -145 0 -145 145 0
145 0 0 145 0 145 -145 0 -145 0 0 145 0 145 145 0 145 0 0 145 0 145 -290 0
-290 0 0 145 0 145 -145 0 -145 0 0 145 0 145 290 0 290 0 0 -145 0 -145 145
0 145 0 0 435 0 435 145 0 145 0 0 290 0 290 -145 0 -145 0 0 -290 0 -290
-145 0 -145 0 0 145 0 145 -145 0 -145 0 0 145 0 145 145 0 145 0 0 145 0 145
145 0 145 0 0 145 0 145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 145 0 145
-145 0 -145 0 0 145 0 145 145 0 145 0 0 145 0 145 145 0 145 0 0 145 0 145
-145 0 -145 0 0 145 0 145 -145 0 -145 0 0 145 0 145 145 0 145 0 0 145 0 145
145 0 145 0 0 145 0 145 -290 0 -290 0 0 -290 0 -290 -145 0 -145 0 0 -145 0
-145 145 0 145 0 0 -435 0 -435 -145 0 -145 0 0 290 0 290 -145 0 -145 0 0
145 0 145 -290 0 -290 0 0 145 0 145 -145 0 -145 0 0 145 0 145 145 0 145 0 0
145 0 145 435 0 435 0 0 145 0 145 145 0 145 0 0 145 0 145 145 0 145 0 0 145
0 145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 145 0 145 -145 0 -145 0 0
-145 0 -145 -145 0 -145 0 0 145 0 145 -145 0 -145 0 0 -145 0 -145 145 0 145
0 0 -145 0 -145 -290 0 -290 0 0 -290 0 -290 -145 0 -145 0 0 435 0 435 145 0
145 0 0 145 0 145 -145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0 145 0 145
-145 0 -145 0 0 -145 0 -145 145 0 145 0 0 -145 0 -145 -145 0 -145 0 0 -145
0 -145 -290 0 -290 0 0 145 0 145 145 0 145 0 0 145 0 145 -145 0 -145 0 0
-145 0 -145 -145 0 -145 0 0 -145 0 -145 -290 0 -290 0 0 -145 0 -145 -145 0
-145 0 0 -145 0 -145 -145 0 -145 0 0 145 0 145 -145 0 -145 0 0 145 0 145
-145 0 -145 0 0 145 0 145 290 0 290 0 0 145 0 145 145 0 145 0 0 -145 0 -145
290 0 290 0 0 290 0 290 290 0 290 0 0 435 0 435 145 0 145 0 0 -290 0 -290
145 0 145 0 0 290 0 290 -145 0 -145 0 0 145 0 145 145 0 145 0 0 145 0 145
-145 0 -145 0 0 145 0 145 -145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0 145 0
145 -145 0 -145 0 0 145 0 145 435 0 435 0 0 145 0 145 -1160 0 -1160 0 0
-145 0 -145 -290 0 -290 0 0 145 0 145 -290 0 -290 0 0 -145z m1740 -290 l0
-145 145 0 145 0 0 145 0 145 145 0 145 0 0 -145 0 -145 -145 0 -145 0 0 -290
0 -290 -145 0 -145 0 0 -145 0 -145 290 0 290 0 0 145 0 145 145 0 145 0 0
145 0 145 145 0 145 0 0 -145 0 -145 145 0 145 0 0 -145 0 -145 -145 0 -145 0
0 145 0 145 -145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0 -290 0 -290 145 0
145 0 0 145 0 145 145 0 145 0 0 -145 0 -145 -145 0 -145 0 0 -145 0 -145
-145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0 145 0 145 145 0 145 0 0 145 0
145 -145 0 -145 0 0 145 0 145 -145 0 -145 0 0 -290 0 -290 -145 0 -145 0 0
-145 0 -145 -145 0 -145 0 0 -145 0 -145 -290 0 -290 0 0 145 0 145 290 0 290
0 0 145 0 145 145 0 145 0 0 580 0 580 -145 0 -145 0 0 -145 0 -145 -290 0
-290 0 0 -435 0 -435 -145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0 290 0 290
-145 0 -145 0 0 145 0 145 145 0 145 0 0 -145 0 -145 145 0 145 0 0 290 0 290
145 0 145 0 0 145 0 145 290 0 290 0 0 145 0 145 -145 0 -145 0 0 145 0 145
290 0 290 0 0 145 0 145 145 0 145 0 0 -145z m-1160 -290 l0 -145 -145 0 -145
0 0 145 0 145 145 0 145 0 0 -145z m-1160 -1160 l0 -145 -145 0 -145 0 0 145
0 145 145 0 145 0 0 -145z m1740 0 l0 -145 -145 0 -145 0 0 145 0 145 145 0
145 0 0 -145z m-1450 -580 l0 -145 -145 0 -145 0 0 145 0 145 145 0 145 0 0
-145z m-1160 -290 l0 -145 -145 0 -145 0 0 145 0 145 145 0 145 0 0 -145z
m6960 -290 l0 -145 -145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0 145 0 145
145 0 145 0 0 145 0 145 145 0 145 0 0 -145z m-2610 -580 l0 -145 145 0 145 0
0 145 0 145 290 0 290 0 0 -145 0 -145 145 0 145 0 0 145 0 145 145 0 145 0 0
-145 0 -145 -145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0 -290 0 -290 -145 0
-145 0 0 145 0 145 -290 0 -290 0 0 290 0 290 -290 0 -290 0 0 145 0 145 290
0 290 0 0 -145z m-580 -580 l0 -145 145 0 145 0 0 -145 0 -145 145 0 145 0 0
-145 0 -145 -290 0 -290 0 0 145 0 145 -145 0 -145 0 0 -145 0 -145 -145 0
-145 0 0 -290 0 -290 145 0 145 0 0 145 0 145 145 0 145 0 0 -145 0 -145 145
0 145 0 0 -145 0 -145 145 0 145 0 0 290 0 290 435 0 435 0 0 145 0 145 145 0
145 0 0 145 0 145 145 0 145 0 0 -145 0 -145 290 0 290 0 0 -145 0 -145 -290
0 -290 0 0 145 0 145 -145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0 -145 0
-145 435 0 435 0 0 -145 0 -145 -145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0
-145 0 -145 290 0 290 0 0 145 0 145 145 0 145 0 0 290 0 290 145 0 145 0 0
-145 0 -145 145 0 145 0 0 -435 0 -435 -145 0 -145 0 0 290 0 290 -145 0 -145
0 0 -290 0 -290 -290 0 -290 0 0 -145 0 -145 -145 0 -145 0 0 290 0 290 -145
0 -145 0 0 -290 0 -290 -145 0 -145 0 0 145 0 145 -145 0 -145 0 0 -145 0
-145 -145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0 145 0 145 145 0 145 0 0
290 0 290 290 0 290 0 0 145 0 145 290 0 290 0 0 145 0 145 -580 0 -580 0 0
-145 0 -145 -435 0 -435 0 0 145 0 145 -870 0 -870 0 0 145 0 145 145 0 145 0
0 145 0 145 -145 0 -145 0 0 145 0 145 145 0 145 0 0 -145 0 -145 145 0 145 0
0 145 0 145 145 0 145 0 0 -145 0 -145 145 0 145 0 0 145 0 145 145 0 145 0 0
145 0 145 -145 0 -145 0 0 145 0 145 290 0 290 0 0 145 0 145 145 0 145 0 0
-145z m-3770 -2610 l0 -145 -145 0 -145 0 0 145 0 145 145 0 145 0 0 -145z
m580 0 l0 -145 145 0 145 0 0 -145 0 -145 -290 0 -290 0 0 290 0 290 145 0
145 0 0 -145z m1450 0 l0 -145 -290 0 -290 0 0 145 0 145 290 0 290 0 0 -145z
m1160 0 l0 -145 -145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0 -145 0 -145
-290 0 -290 0 0 -290 0 -290 -145 0 -145 0 0 -145 0 -145 290 0 290 0 0 145 0
145 290 0 290 0 0 -145 0 -145 -145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0
-145 0 -145 -145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0 290 0 290 -145 0
-145 0 0 145 0 145 -145 0 -145 0 0 145 0 145 -145 0 -145 0 0 -435 0 -435
-145 0 -145 0 0 435 0 435 145 0 145 0 0 145 0 145 -145 0 -145 0 0 145 0 145
290 0 290 0 0 145 0 145 145 0 145 0 0 -435 0 -435 145 0 145 0 0 435 0 435
435 0 435 0 0 290 0 290 290 0 290 0 0 -145z m1740 -580 l0 -145 -145 0 -145
0 0 -145 0 -145 -290 0 -290 0 0 145 0 145 290 0 290 0 0 145 0 145 145 0 145
0 0 -145z m1160 -290 l0 -435 -435 0 -435 0 0 435 0 435 435 0 435 0 0 -435z
m580 145 l0 -290 -145 0 -145 0 0 290 0 290 145 0 145 0 0 -290z m-1740 -1305
l0 -145 145 0 145 0 0 -145 0 -145 -290 0 -290 0 0 290 0 290 145 0 145 0 0
-145z"
              ></path>
              <path
                d="M5220 8845 l0 -145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 -145z"
              ></path>
              <path
                d="M6960 5945 l0 -145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 -145z"
              ></path>
              <path
                d="M4640 4495 l0 -145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 -145z"
              ></path>
              <path
                d="M7830 2175 l0 -145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 -145z"
              ></path>
              <path
                d="M7830 8845 l0 -1015 1015 0 1015 0 0 1015 0 1015 -1015 0 -1015 0 0
-1015z m1740 0 l0 -725 -725 0 -725 0 0 725 0 725 725 0 725 0 0 -725z"
              ></path>
              <path
                d="M8410 8845 l0 -435 435 0 435 0 0 435 0 435 -435 0 -435 0 0 -435z"
              ></path>
              <path
                d="M2610 9425 l0 -145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 -145z"
              ></path>
              <path
                d="M290 6525 l0 -145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 -145z"
              ></path>
              <path
                d="M2610 6525 l0 -145 145 0 145 0 0 -145 0 -145 -145 0 -145 0 0 -145
0 -145 145 0 145 0 0 145 0 145 290 0 290 0 0 145 0 145 -290 0 -290 0 0 145
0 145 -145 0 -145 0 0 -145z"
              ></path>
              <path
                d="M1740 6235 l0 -145 -145 0 -145 0 0 -435 0 -435 290 0 290 0 0 -145
0 -145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 145 0 145 145 0 145 0 0 145
0 145 -145 0 -145 0 0 145 0 145 145 0 145 0 0 145 0 145 -290 0 -290 0 0
-145z"
              ></path>
              <path
                d="M870 5945 l0 -145 -145 0 -145 0 0 -145 0 -145 -145 0 -145 0 0 -145
0 -145 435 0 435 0 0 145 0 145 -145 0 -145 0 0 145 0 145 145 0 145 0 0 145
0 145 -145 0 -145 0 0 -145z"
              ></path>
              <path
                d="M8410 5655 l0 -145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 -145z"
              ></path>
              <path
                d="M290 4640 l0 -290 145 0 145 0 0 290 0 290 -145 0 -145 0 0 -290z"
              ></path>
              <path
                d="M870 4495 l0 -435 145 0 145 0 0 290 0 290 145 0 145 0 0 145 0 145
-290 0 -290 0 0 -435z"
              ></path>
              <path
                d="M2030 4495 l0 -145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 -145z"
              ></path>
              <path
                d="M290 3335 l0 -725 145 0 145 0 0 725 0 725 -145 0 -145 0 0 -725z"
              ></path>
              <path
                d="M1450 3915 l0 -145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 -145z"
              ></path>
              <path
                d="M3190 3915 l0 -145 145 0 145 0 0 145 0 145 -145 0 -145 0 0 -145z"
              ></path>
              <path
                d="M290 1305 l0 -1015 1015 0 1015 0 0 1015 0 1015 -1015 0 -1015 0 0
-1015z m1740 0 l0 -725 -725 0 -725 0 0 725 0 725 725 0 725 0 0 -725z"
              ></path>
              <path
                d="M870 1305 l0 -435 435 0 435 0 0 435 0 435 -435 0 -435 0 0 -435z"
              ></path>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </body>
</html>